# AeroStream Cloud Configuration
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7AEROSTR
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/AEROSTREAM/bEXAMPLEKEY
AWS_ENDPOINT_URL=http://cloud.aerostream.local:4566
AWS_DEFAULT_REGION=eu-west-1
S3_BUCKET=aerostream-rnd-backup
DB_HOST=sql01.aerostream.local
DB_USER=svc_mssql
DB_PASS=Aero$qlSvc!2024
